<div class="">
  <h1>
    {{department.name}}
    <small>{{#link-to 'admin.departments.edit' department}}Edit{{/link-to}}</small>
  </h1>

  <button {{action 'remove'}}>Remove</button>

  <h2>Members</h2>

  {{#power-select-multiple
    options=availableUsers
    selected=selected
    onchange=(action (mut selected))
    as |user| }}
    {{user.fullName}}
  {{/power-select-multiple}}
  <button {{action 'addMembers' selected}}>Add users to department</button>

  <ul>
    {{#each department.members as |user|}}
      <li>
        {{user.fullName}} 
        <button {{action 'removeMember' user}}>Remove from department</button>
      </li>
    {{/each}}
  </ul>
</div>
